.dau {
    height: 100px;
    background-color: red;
}

.than {
    height: 300px;
    background-color: orange;
    display: flex;
    flex-direction: row;
}

.than-mot {
    width: 30%;
    height: 300px;
    background-color: yellow;
}

.than-hai {
    width: 70%;
    height: 300px;
    background-color: blue;
}

.chan {
    height: 100px;
    background-color: violet;
}