.div-mot {
    height: 200px;
    width: 200px;
    background-color: red;
}

.div-hai {
    height: 200px;
    width: 200px;
    background-color: yellow;
}

.div-cha {
    display: flex;
    flex-direction: row;
    justify-content: center;
}